@use '../../../styles/mixins' as mixins;

.grid {
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;

    @include mixins.respond(phone) {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    border-radius: 6px;
    width: 400px;
    height: 200px;
    overflow: hidden;

    @include mixins.respond(phone) {
      width: 355px;
      height: 172px;
    }

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
