$blackcurrant: #332e42;
$white-lilac: #eae6f5;
$corn-flower-blue: #7658ed;
$white: #ffffff;
$charade: #2f2c3c;
$bastille: #1e1b26;
$waterloo: #837b99;
$titan-white: #eaebff;
$baltic-sea: #25222d;
$gun-powder: #3e374e;
$rajah: #f8b469;
$torch-red: #fc0001;
