@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.navbar {
  background-color: transparent;
  padding: 18px 0;

  @include mixins.respond(phone) {
    padding: 8.5px 0;
  }

  &__container {
    @include mixins.wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__brand {
    display: flex;
    align-items: center;

    & .logo__desktop {
      @include mixins.respond(phone) {
        display: none;
      }
    }

    & .logo__mobile {
      display: none;
      @include mixins.respond(phone) {
        display: block;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 5px;

    & .search_btn {
      padding: 14px;

      & svg path {
        fill: vars.$gun-powder;
      }
    }

    & .customer_service_btn {
      padding: 9px;
    }
  }

  &__link {
    text-decoration: none;
    background: none;

    & .login_btn {
      padding: 13px 33px;
    }

    & .register_btn {
      padding: 11px 40px;

      @include mixins.respond(phone) {
        padding: 11px 20px;
      }
    }
  }
}
